<!DOCTYPE html>
<html>
<head>
    <title>Face Recognition</title>
    <style>
        #video {
            border: 1px solid black;
        }
    </style>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}" type="text/javascript"></script>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <h1>Face Recognition</h1>
    <div>
        <button type="button" class="btn btn-primary btn-lg " id="btn-add-face">新增学生</button>
        <form id="form-data">
          <div class="field">
            <input type="text" name="name"required>
            <label>新增学生姓名：</label>
            <div id="alert"></div>
          </div>
        </form>
        <button type="button" class="btn btn-primary btn-lg " id="btn-predict">检测学生</button>
    </div>
    <div id="success-tips">新增成功</div>
    <img src="/video_feed">
<!--    <video id="video" width="640" height="480" autoplay></video>-->
<!--    <canvas id="canvas" width="640" height="480"></canvas>-->
</body>
</html>
