<!DOCTYPE html>
<html>
<head>
    <title>Face Recognition</title>
    <style>
        #video {
            border: 1px solid black;
        }
    </style>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}" type="text/javascript"></script>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <h1>Face Recognition</h1>
<!--    <img src="/video_feed">-->
    <div>
        <button type="button" class="btn btn-primary btn-lg " id="btn-predict">新增学生</button>
    </div>
<!--    <video id="video" width="640" height="480" autoplay></video>-->
<!--    <canvas id="canvas" width="640" height="480"></canvas>-->
</body>
</html>
